<!DOCTYPE html>
<html>
<head>
    <title>Sale</title>
    <link rel="stylesheet" href="static/sale.css">
    
</head>
<body>
    <h1>SALE</h1>
    <!-- Display flash messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <ul id="flash-messages" class="alert">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="POST">
        <label>Item:</label>
        <select name="item_id">
            {% for item in items %}
                <option value="{{ item.item_id }}">{{ item.item_name }} ({{item.qty}})</option>
            {% endfor %}
        </select>
        <label>Quantity:</label>
        <input type="number" name="qty"  min="1" required>
        <label>Rate:</label>
        <input type="number" name="rate" required step="0.01">
        
        <button type="submit">Add Sale</button>
        <br>
        <button onclick="window.location.href='/'" style="text-decoration: none; color:white ; display: inline-block;">Back</button>
    </form>
    <script>
        // JavaScript to hide flash messages after 10 seconds
        setTimeout(function() {
            var flashMessages = document.getElementById("flash-messages");
            if (flashMessages) {
                flashMessages.style.display = "none";
            }
        }, 2000);  // 10000 milliseconds = 10 seconds
    </script>
    
    
</body>
</html>