<!DOCTYPE html>
<html>
    <head>
        <title>PURCHASED ITEMS DETAILS</title>
        <link rel="stylesheet" href="static/purchasereport.css">
        
    </head>
    <body>
        <h1>PURCHASED DETAILS</h1>
        <table>
            <thead>
                <tr>
                    <th>Purchase_id</th>
                    <th>Timestamp</th>
                    <th>Item_id</th>
                    <th>item_name</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for items in purchasetab %}
                <tr>
                    <td>{{ items.purchase_id}}</td>
                    <td>{{ items.timestamp }}</td>
                    <td>{{ items.item_id }}</td>
                    <td>{{ items.item_name }}</td>
                    <td>{{ items.qty }}</td>
                    <td>{{ items.rate }}</td>
                    <td>{{ items.amount }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method='POST'>
            <button>Home</button>
        </form>
    </body>
</html>