<!DOCTYPE html>
<html>
    <head>
        <title>SOLD ITEMS DETAILS</title>
        <link rel="stylesheet" href="static/soldreport.css">
        
    </head>
    <body>
        <h1>SOLD ITEMS DETAILS</h1>
        <table>
            <thead>
                <th>Sales_id</th>
                <th>Timestamp</th>
                <th>Item_id</th>
                <th>item_name</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Amount</th>
            </thead>
            <tbody>
                {% for items in salestab %}
                <tr>
                    <td>{{ items.sales_id }}</td>
                    <td>{{ items.timestamp }}</td>
                    <td>{{ items.item_id }}</td>
                    <td>{{items.item_name}}</td>
                    <td>{{ items.qty }}</td>
                    <td>{{ items.rate }}</td>
                    <td>{{ items.amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
        <form method='POST'>
            <button>Home</button>
        </form>
    </body>
</html>